<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'estiloscss/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'estiloscss/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'IMG/bobtail-japones.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
        integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <style>
        .miBody {
            background-image: url("{% static 'img/fondoForm.jpg' %}");
        }
    </style>
</head>

<body class="miBody">
    <div class=" container">
        <div class="row">

            <div class="col-sm-5 col-md-5 col-lg-4 col-xl-4">
                <!--Barra Lateral-->
                <div class="offcanvas offcanvas-start border border-dark" id="intro">

                    <div class="offcanvas-header">
                        <div class="offcanvas-title ms-5">
                            <h1 class="animate-charcterBarra col-12 ms-3"><a href="{% url 'index' %}">Ino Nunu</a></h1>
                        </div>
                    </div>

                    <hr>

                    <div class=" offcanvas-body me-5">
                        <ol class="list-group ms-5">
                            {% if nombreADMIN %}
                            <li class="animate-charcterMenu list-group-item list-group-item-danger"><a
                                    href="{% url 'perfil' %}">Perfil {{nombreADMIN}}</a>
                            <li class="animate-charcterMenu list-group-item list-group-item-danger"><a
                                    href="{% url 'quienesSomos' %}">Quienes Somos</a></li>

                            <li class="animate-charcterMenu list-group-item list-group-item-danger"><a
                                    href="{% url 'feriados' %}">Feriados</a></li>
                            {% elif nombreUser %}
                            <li class="animate-charcterMenu list-group-item list-group-item-danger"><a
                                    href="{% url 'perfil' %}">Perfil {{nombreUser}}</a>
                            <li class="animate-charcterMenu list-group-item list-group-item-danger"><a
                                    href="{% url 'quienesSomos' %}">Quienes Somos</a></li>
                            <li class="animate-charcterMenu list-group-item list-group-item-danger"><a
                                    href="{% url 'galeria' %}">Galeria</a></li>
                            <li class="animate-charcterMenu list-group-item list-group-item-danger"><a
                                    href="{% url 'feriados' %}">Feriados</a></li>
                            {% else %}
                            <li class="animate-charcterMenu list-group-item list-group-item-danger"><a
                                    href="{% url 'quienesSomos' %}">Quienes Somos</a></li>
                            <li class="animate-charcterMenu list-group-item list-group-item-danger"><a
                                    href="{% url 'galeria' %}">Galeria</a></li>
                            <li class="animate-charcterMenu list-group-item list-group-item-danger"><a
                                    href="{% url 'feriados' %}">Feriados</a></li>
                            {% endif %}
                        </ol>
                    </div>

                    <div class="offcanvas-footer">
                        <div class="container">
                            <div class="row col-12">
                                <span class="alerta mb-2">Sino tienes cuenta <a href="{% url 'registro' %}"
                                        style="color: rgb(255, 72, 6);">REGISTRATE
                                        AQUI</a></span>
                                {% if nombreADMIN %}
                                <button class=" mb-2 animate-charcterMenu btn border-danger btn-light"
                                    style="margin-left: 12px;"><a href="{% url 'salir' %}">Salir</a></button>
                                {% elif nombreUser %}
                                <button class=" mb-2 animate-charcterMenu btn border-danger btn-light"
                                    style="margin-left: 12px;"><a href="{% url 'salir' %}">Salir</a></button>
                                {% else %}
                                <button class=" mb-2 animate-charcterMenu btn border-danger btn-light"
                                    style="margin-left: 12px;"><a href="{% url 'iniciarSesion' %}">Iniciar
                                        Sesion</a></button>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
                <!--Fin barra lateral-->
            </div>

            <!--Barra De Navegacion-->
            <div class="container" style="margin-left: 4px;">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12  col-xl-12">
                        <div class="bordeCSS rounded">
                            <div class="navbar-collapse ">
                                <nav class="navbar navbar-expand-md ps-3 rounded"
                                    style="background-color: rgba(255, 255, 255, 0.826);">
                                    <!--Boton de la barra-->
                                    <button class="btn border-danger btn-light ms-2 col-0 py-4 px-3"
                                        data-bs-toggle="offcanvas" data-bs-target="#intro" id="navboton"><img
                                            class="img-fluid dom" src="{% static 'img/bobtail-japones.png' %}" alt="">
                                    </button>

                                    <div class="col">

                                    </div>

                                    <div>
                                        <h1 class="text-light animate-charcter ms-2 mt-2 me-3"><a
                                                href="{% url 'index' %}">Ino
                                                Nunu</a></h1>
                                    </div>
                                </nav>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!--Fin barra de navegacion-->
            <div class="container-fluid mt-5 mb-4" style="margin-left: 4px;">
                <div class="row justify-content-center">
                    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5 bordeCSS rounded" id="rel"
                        style="background-color: rgba(255, 255, 255, 0.826);">
                        <div class="reloj mt-4">
                            <p class="fecha dom"></p>
                            <p class="tiempo dom"></p>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Cuerpo de la pagina-->
            {% if nombreUser%}

            <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title animate-charcterGaleria text-center" style="text-align: center;"
                                id="exampleModalLabel">Carro
                            </h5>
                        </div>
                        <div class="modal-body">
                            {% for car in carro %}
                                <div class="container bordeCSS mt-2 rounded">
                                    <div class="row justify-content-center">
                                        <h6 class="text-center animate-charcterGaleriaP mt-2">
                                            {{car.producto.titulo_producto}}
                                        </h6>
                                        <div class="col-5">
                                            <img class="img-fluid" src="{{car.producto.imagen.url}}" alt="">
                                        </div>
                                        <p class="text-center animate-charcterGaleriaP mt-1 mb-1"><span class="h5">Cantidad: {{car.cantidad}}</span></p>
                                        <p class="text-center animate-charcterGaleriaP mt-1 mb-1"><span class="h5">Subtotal: ${{car.pago}}</span></p>
                                        <div class="mb-2 text-center">

                                            <a href="{% url 'eliminar' car.id_producto_carrito %}"><button type="button"
                                                class=" btn btn-light border border-danger">
                                                <h1 class="animate-charcterLogin mt-2 px-5 text-center">Eliminar</h1>
                                            </button></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'boleta' %}"><button type="button" class=" btn  border-danger btn btn-light">
                                <h1 class="animate-charcterLogin mt-2">Ir a Pagar</h1>
                            </button></a>
                            <button type="button" class=" btn  border-danger btn btn-light  " data-dismiss="modal">
                                <h1 class="animate-charcterLogin mt-2">Cerrar</h1>
                            </button>                            
                        </div>
                    </div>
                </div>
            </div>


            <div class="container" style="margin-left: 4px;">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                        {% if galeria %}
                        <ol class="list-group bgol" style="border: 1px solid rgb(229, 69, 11);">
                            <li class="list-group-item rounded" style="border-bottom:1px solid rgb(229, 69, 11) ;">
                                <div>
                                    <a data-toggle="modal" data-target="#exampleModal"><img class="img-fluid carro "
                                            src="{% static 'img/carrito.png' %}" alt=""></a>
                                </div>
                            </li>
                            <!--Articulo n°1-->
                            {% for pro in galeria %}
                            <li class="list-group-item ">
                                <h1 class="text-center animate-charcterGaleria ms-4 me-3 mt-3">
                                    {{pro.titulo_producto}}</h1>
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2" id="a">
                                    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 mt-3 me-2">
                                        {% if pro.imagen%}
                                        <img src="{{pro.imagen.url}}" alt=""
                                            class=" bordeCSS img-fluid ms-1 rounded">
                                        {% else %}
                                        <p class="animate-charcterGaleriaP mb-5 text-center"> Foto No disponible</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 text-center">
                                        <p class="animate-charcterGaleriaP mb-2 text-center">{{pro.descripcion}}<br><br>
                                            <span class="h3">${{pro.precio}}</span><br>
                                            <span class="h6">stock: {{pro.stock}}</span>
                                        </p>
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <div class="row justify-content-center" hidden>
                                                <div class="form-group">
                                                    <label for="usuario">a</label>
                                                    <input class="form-control" type="number" id="usuario"
                                                        name="usuario" value="{{idUsuario}}">
                                                </div>
                                            </div>
                                            <div class="row justify-content-center" hidden>
                                                <div class="form-group">
                                                    <label for="producto">a</label>
                                                    <input class="form-control" type="number" id="producto"
                                                        name="producto" value="{{pro.id_producto}}">
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="form-group">
                                                    <label for="{{ carrito.field.name }}"
                                                        class="formuLabel mt-1">{{carrito.cantidad.label}}</label>
                                                    {{carrito.cantidad}}
                                                </div>
                                            </div>
                                            <button type="submit" class=" btn  border-danger btn btn-light  ">
                                                <h1 class="animate-charcterLogin mt-2">Agregar al carrito</h1>
                                            </button>
                                        </form>
                                    </div>
                                </div>

                            </li>

                            {% endfor %}
                            {% else %}
                            <div class="container my-5 bordeCSS rounded"
                                style="background-color: rgba(255, 255, 255, 0.826);">
                                <div class="row justify-content-center">
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 my-5">
                                        <h1 class="animate-charcterGaleria" style="text-align: center;">NO HAY PRODUCTOS
                                            DISPONIBLES</h1>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </ol>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="container" style="margin-left: 4px;">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                        {% if galeria %}
                        <ol class="list-group bgol" style="border: 1px solid rgb(229, 69, 11);">
                            <!--Articulo n°1-->
                            {% for pro in galeria %}
                            <li class="list-group-item ">
                                <h1 class="text-center animate-charcterGaleria ms-4 me-3 mt-3">
                                    {{pro.titulo_producto}}</h1>
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2" id="a">
                                    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 mt-3 me-2">
                                        {% if pro.imagen%}
                                        <img src="{{pro.imagen.url}}" alt=""
                                            class=" border border-danger img-fluid ms-1">
                                        {% else %}
                                        <p class="animate-charcterGaleriaP mb-5 text-center"> Foto No disponible</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 text-center">
                                        <p class="animate-charcterGaleriaP mb-4 text-center">{{pro.descripcion}}<br><br>
                                            <span class="h3">${{pro.precio}}</span><br>
                                        </p>
                                        <div>
                                            <a href="{% url 'registro' %}"><button type="button" type="submit"
                                                    class=" btn btn-sm border-danger btn btn-light  btn-bg-dark me-2">
                                                    <h1 class="animate-charcterLogin mt-2 px-1">Debe Registrarse Si
                                                        Desea
                                                        Comprar</h1>
                                                </button></a>
                                        </div>
                                        <div class="mt-3">
                                            <a href="{% url 'iniciarSesion' %}"><button type="button" type="submit"
                                                    class=" btn btn-sm border-danger btn btn-light  btn-bg-dark me-2">
                                                    <h1 class="animate-charcterLogin mt-2 px-3">Si posee cuenta, haga
                                                        click aqui</h1>
                                                </button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            <div class="container my-5 bordeCSS rounded"
                                style="background-color: rgba(255, 255, 255, 0.826);">
                                <div class="row justify-content-center">
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 my-5">
                                        <h1 class="animate-charcterGaleria" style="text-align: center;">NO HAY PRODUCTOS
                                            DISPONIBLES</h1>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </ol>
                    </div>
                </div>
            </div>
            {% endif %}
            <!--Fin del cuerpo de pagina-->


            <!--Pie De Pagina-->
            <div class="container" style="margin-left: 4px;">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                        <!--Contactos-->
                        <div class="container" id="Contactos">
                            <div class="row ">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 bordeCSS rounded mt-4"
                                    style="background-color: rgba(255, 255, 255, 0.826);">
                                    <div class="container">
                                        <div class="row justify-content-center float-center">
                                            <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7 " id="contai">
                                                <ul class="breadcrumb mt-2 ms-5">
                                                    <li>
                                                        <img class="icono me-2 ms-3 breadcrumb-item"
                                                            src="{% static 'img/img rrss/instagram.png' %}" alt=""><a
                                                            class="animate-charcterFooter"
                                                            href="https://www.instagram.com/colectivoanimalistadelmaipo/?hl=es">Instagram</a>
                                                    </li>
                                                    <li><img class="icono me-2 ms-3 breadcrumb-item"
                                                            src="{% static 'img/img rrss/gorjeo.png' %}" alt=""><a
                                                            class="animate-charcterFooter" href="">Twitter</a></li>
                                                    <li><img class="icono me-2 ms-3 breadcrumb-item"
                                                            src="{% static 'img/img rrss/facebook.png' %}" alt=""><a
                                                            class="animate-charcterFooter"
                                                            href="https://www.facebook.com/people/Colectivo-Animalista-Del-Maipo/100064562207119/">Facebook</a>
                                                    </li>
                                                    <li><img class="icono me-2 ms-3 breadcrumb-item"
                                                            src="{% static 'img/img rrss/google.png' %}" alt=""><a
                                                            class="animate-charcterFooter"
                                                            href="https://docs.google.com/forms/d/e/1FAIpQLSeaxKZlvxSzsZqiijLmi9z1esQHSMGkYX1pkQkDLbcdJR4BOw/viewform">Google</a>
                                                    </li>
                                                    <li><img class="icono me-2 ms-3 breadcrumb-item"
                                                            src="{% static 'img/img rrss/whatsapp.png' %}" alt=""><a
                                                            class="animate-charcterFooter" href="">whatsapp</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Fin contactos-->

                                    <!--Imagen y CopyRight-->
                                    <div class="container">
                                        <div class="row justify-content-center float-center">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="container">
                                                    <div class="row justify-content-center">
                                                        <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"
                                                            style="width: 100px;height: 60px;">
                                                            <div class="container">
                                                                <div class="row justify-content-center">
                                                                    <img class="img-fluid"
                                                                        src="{% static 'img/bobtail-japones.png' %}"
                                                                        alt="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>

                                                <div class="container">
                                                    <div class="row justify-content-center float-center ">
                                                        <div class="col-sm-5 col-md-6 col-lg-6 col-xl-6">
                                                            <h6 class="animate-charcterFooter text-center"
                                                                style="font-size: 10px;">&copy;Copyright Derechos
                                                                reservados</h6>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!--Fin imagen y copyright-->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--Fin pie de pagina-->

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                crossorigin="anonymous"></script>
            <script src="{% static 'misJS/script.js' %}"></script>
            <script src="{% static 'misJS/dom.js' %}"></script>
        </div>
    </div>
</body>

</html>